a {
    text-decoration: none;
}

p {
    line-height: 1.2;
}

.top-bar .toggle-topbar span,
.fa-ul a {
    font-family:"Open Sans","DejaVu Sans",sans-serif;
}

.top-bar-section {
    max-width: 100rem !important;
}

/* lang */
.en, .it {
    font-weight: bold;
    color: white;
    text-transform: capitalize !important;
    border-left: 1px solid white ;
    text-decoration: underline;
min-width:2.9rem;
}
.it:lang(it){

}


@media only screen and (min-width: 40.063em) {
   .top-bar {
	height: auto;
	min-height: 3rem;
	}
}

.top-bar .top-bar-title {
    padding-left: 10px;
}

