cache
dist
temp

node_modules/
/docs/packages/**
!/docs/packages/index.md

/docs/profiles/**
!/docs/profiles/index.md

/lime-packages
/network-profiles
/lime-sdk

/docs/build/lime-sdk.md

/docs/development/**
!/docs/development/hacking/kernel_vermagic.md
