*~
cache
dist
temp

node_modules/

!/docs/packages/index.md
/docs/packages/**

!/docs/profiles/index.md
/docs/profiles/**

/lime-packages/**
/network-profiles/**
/lime-sdk/**

/docs/build/lime-sdk.md

/docs/development/*
!/docs/development/hacking/

