<h4>Documentation</h4>
<div class="panel">
    <div id="toc" class="toc">
        <ul class="sectlevel0">
        {% for item in site.data.structure.docs %}
            <!-- Use the current language and default to english if doc translation is not found -->
            {% assign docs_lang_pages=site.pages | where:"ref",item | where:"lang",lang  | default: false %}
            {% unless docs_lang_pages %}
            {% assign docs_lang_pages=site.pages | where:"ref",item | where:"lang","en" %}
            {% endunless %}
            {% assign doc_page=docs_lang_pages.first %}
	    <li {% if page.url == doc_page.url %} class="active"{% endif %}><i class="fa {{doc_page.fontawesome_icon}}" aria-hidden="true"></i><a href="{{site.prefix}}{{doc_page.url}}"> {{ doc_page.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
