<h4>Documentation</h4>
<div class="panel">
    <div id="toc" class="toc">
        <ul class="sectlevel0">
            <li{% if page.url == '/docs/' %} class="active"{% endif %}><a href="/docs/index.html">Overview</a></li>
            <li{% if page.url == '/docs/connecting_nodes.html' %} class="active"{% endif %}><a href="/docs/connecting_nodes.html">How to connect to LiMe nodes</a></li>
            <li{% if page.url == '/docs/config.html' %} class="active"{% endif %}><a href="/docs/config.html">The LiMe config file</a></li>
            <li{% if page.url == '/docs/hardware/index.html' %} class="active"{% endif %}><a href="/docs/hardware/index.html">Hardware</a></li>
            <li{% if page.url == '/docs/troubleshooting.html' %} class="active"{% endif %}><a href="/docs/troubleshooting.html">Troubleshooting</a></li>
        </ul>
    </div>
</div>
