<h4>Links</h4>
<div class="panel">
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="https://chef.altermundi.net/">Chef kitchen firmware</a></li>
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="http://downloads.libre-mesh.org/community_chaos/">Last Release firmware</a></li>
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="http://builds.libremesh.org/">Nightly build firmware</a></li>
        <li><i class="fa-li fa fa-code-fork" aria-hidden="true"></i><a href="https://github.com/libremesh/">Git Repos</a></li>
        <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><a href="http://lists.libremesh.org/mailman/listinfo/lime-users">User mailing List</a></li>
        <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><a href="http://lists.libremesh.org/mailman/listinfo/lime-dev">Dev mailing List</a></li>
        <li><i class="fa-li fa fa-comment" aria-hidden="true"></i><a href="irc://irc.freenode.org/libremesh">IRC</a></li>
    </ul>
</div>
