<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--primary" data-md-level="0">
        <ul class="md-nav__list" data-md-scrollfix="">

          {% include nav_documentation.html %}
          {% include nav_development.html %}
          {% include nav_packages.html %}
          {% include nav_links.html %}
      
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--secondary">
        <p class="md-nav__title text-grey">Table of contents</p>
        <!-- toc will be appended here!-->
        {% include toc.html html=content sanitize=true class="md-nav__list" item_class="md-nav__item" submenu_class="md-nav__list" anchor_class="md-nav__link" id="nav_toc" h_min=2 h_max=4 %}
        </ul>
      </nav>
    </div>
  </div>
</div>
