<h4>Links</h4>
<div class="panel">
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="https://chef.altermundi.net/">Chef kitchen firmware</a></li>
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="https://chef.altermundi.net/ls/libre-mesh/">Chef stable firmware</a></li>
        <li><i class="fa-li fa fa-download" aria-hidden="true"></i><a href="http://builds.libre-mesh.org/">Daily build firmware</a></li>
        <li><i class="fa-li fa fa-code-fork" aria-hidden="true"></i><a href="https://github.com/libre-mesh/">Git Repos</a></li>
        <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><a href="http://lists.libre-mesh.org/mailman/listinfo/users">User mailing List</a></li>
        <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><a href="http://lists.libre-mesh.org/mailman/listinfo/dev">Dev mailing List</a></li>
        <li><i class="fa-li fa fa-comment" aria-hidden="true"></i><a href="irc://irc.freenode.org/libre-mesh">IRC</a></li>
    </ul>
</div>
