<li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ site.prefix }}index.html">Home</a></li>
<li{% if page.url == '/news.html' %} class="active"{% endif %}><a href="{{ site.prefix }}news.html">News</a></li>
<li{% if page.url == '/communication.html' %} class="active"{% endif %}><a href="{{ site.prefix }}communication.html">Communication</a></li>
<li{% if page.url == '/getit.html' %} class="active"{% endif %}><a href="{{ site.prefix }}getit.html">Get it!</a></li>
<li{% if page.url == '/howitworks.html' %} class="active"{% endif %}><a href="{{ site.prefix }}howitworks.html">How it works</a></li>
<li{% if page.url == '/development.html' %} class="active"{% endif %}><a href="{{ site.prefix }}development.html">Development</a></li>
<li{% if page.url contains '/docs/' %} class="active"{% endif %}><a href="{{ site.prefix }}docs/index.html">Documentation</a></li>
<li{% if page.url == '/about.html' %} class="active"{% endif %}><a href="{{ site.prefix }}about.html">About</a></li>
