<!DOCTYPE html>
<html>
  {% assign lang=page.lang %}
  {% include head.html %}

  <body dir="ltr" data-md-color-primary="{{ site.themeColor }}" data-md-color-accent="{{ site.accentColor }}" class="{% if page.url contains '/packages/' or page.no_toc %}no-toc{% endif %}">
    
    {% include header.html %}

    <div class="md-container"> 
        <main class="md-main">
            <div class="md-main__inner md-grid" data-md-component="container">
              <!-- <div class="intersection-rect"></div>     -->

            {% include sidebar.html %}
                <div id="md-container-pancakes">
                {{ content }}
                </div>
            </div>
        </main>
    </div>
    {% include footer.html %}
    {% include headers.html %}
    {% include tags.html %}
  </body>
</html>
